h1 + img{
    width: 100%;
    height: auto;
}
.information{
    width: 45%;
    border: 2px solid black;
    padding: 15px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    float: left;
}
caption{
    
    background-color: rgb(169, 148, 187);
}
.highlights{
    text-align: center;
    border: black solid 2px;
    float: right;
    width: 45%;
    margin-right: 30px;
    margin-left: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
thead{
    background-color: rgb(210, 172, 243);
}
tbody tr:nth-child(-n + 3){
    background-color: rgb(210, 197, 223);
    
}
tbody tr:nth-child(even){
    background-color: rgb(206, 183, 228);
}
tbody tr:hover{
    background-color: gray;
}