*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(156, 156, 156);
    width: auto;
    height: auto;
    padding-top: 10px;
    text-align: center;
}
.header h1{
    color: white;
    margin: 0;
    padding-left: 30px;
    text-align: center;
    padding-bottom: 18px;
}
.nav{
    width: auto;
    height: 25px;
    background-color: rgb(0, 0, 110);
    padding-top: 5px;
}
.nav a:visited{
    color: gray;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav li:active{
    background-color: rgb(0, 0, 220);

}
.nav a:active{
    color: white;
}
.nav a:hover{
    color: white;
}
.nav li:hover{
    background-color: rgb(0, 0, 220);
}
.nav li{
    display: inline;
    padding-right: 13px;  
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 7px;
    
}
.footer{
    background-color: gainsboro;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
}