#contact p{
    text-align: center;
    padding: 90px 0 10px 0;
    font-size: larger;
    font-weight: bolder;
}
table{
    clear: both;
    text-align: center;
    margin: 0 auto;
}
th{
    background-color: rgb(210, 172, 243);
}
td{
    background-color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 5px;
}
.main_body{
    height: 300px;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}